:root {
  --text: #000;
  --bg: #ffffff;
}
@font-face {
  font-family: "Tungsten";
  src: url("../fonts/Tungsten\ Condensed\ Bold.otf");
}
@font-face {
  font-family: "Tungsten-semi";
  src: url("../fonts/Tungsten\ Compressed\ Semi.otf");
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--bg);
  position: relative;
}

p,
a {
  font-size: 1.4rem;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: var(--text);
}

.header {
  width: 100vw;
  // background-color: red;
  height: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: end;
  justify-content: space-between;
}

.footer {
  width: 100vw;
  // background-color: red;
  height: 8rem;
  max-height: 8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

h1 {
  font-family: "Tungsten";
  // font-size: 24vh;
  // font-size: 13vw;
  font-size: 22rem;
  font-weight: normal;
  line-height: 75%;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  margin-top: 2.6rem;
}

p.desc {
  font-size: 1.8rem;
  max-width: 40ch;
}

.container {
  padding: 0 4rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo-mob {
  display: none;
}

.logo-container {
  overflow: hidden;
  width: auto;
}

.logo {
  // width: 384px;
  width: 380px;
  height: 4806px;
  // margin-right: 4rem;
  background: url("../static/logos.svg") repeat-y;
  animation: slide 12s linear infinite;
}

.col {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  font-family: "Tungsten-semi";
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0.02em;
  color: #fff;
  max-height: 7.2rem;
  background-color: var(--text);
  border: unset;
  outline: none;
  padding: 0.3rem 2.2rem 0.4rem 2.2rem;
  padding-bottom: 0.3rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: var(--bg);
    color: var(--text);
    outline: 2px solid var(--text);
  }
  margin-top: 2rem;
}

.btn--header {
  font-size: 1.4rem;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  text-transform: unset;
  padding: 0.9rem 1rem 1rem 1rem;

  height: 3.6rem;
  max-height: 3.6rem;
  color: var(--text);
  background: var(--bg);
  outline: 1px solid var(--text);
  border-radius: 5px;
}

.hero-img {
  width: 70%;
  height: auto;
}

.qr {
  position: absolute;
  left: 50%;
  bottom: 3.2rem;
  transform: translateX(-50%);
}

///////// ANIMATION //////////

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1602px);
  }
}

///////// MEDIA QUERIES //////////

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 20rem;
  }
  .hero-img {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 17rem;
  }
  .hero-img {
    width: 90%;
  }
}
@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 15rem;
  }
  .hero-img {
    width: 100%;
  }

  p.desc {
    padding-right: 2rem;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 8rem 0;
    padding-top: 12rem;
    gap: 8rem;
  }

  .col {
    width: 100%;
  }

  .hero-img {
    width: 80%;
  }
  .qr {
    position: relative;
  }

  .footer {
    position: relative;
  }

  .header {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-top: 8rem;
  }

  h1 {
    font-size: 12rem;
  }

  p.contact {
    text-align: right;
  }

  .col {
    padding: 0 2rem;
  }

  .hero-img {
    width: 90%;
  }
}
