@font-face {
  font-family: "Tungsten";
  src: url("../fonts/Tungsten\ Condensed\ Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  // font-family: 'Press Start 2P', sans-serif;
  color: #1f1f1f;
  background-color: rgb(255, 255, 255);
  /* background-color: #60b347; */
}

h1 {
  font-family: "Tungsten";
  font-size: 24vh;
  line-height: 75%;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  margin-top: 2.6rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo-container {
  overflow: hidden;
  height: 100vh;
}

.logo {
  // width: 384px;
  width: 380px;
  height: 3204px;
  margin-right: 4rem;
  background: url("../static/logos.svg") repeat-y;
  animation: slide 12s linear infinite;
}

.logo-mob {
  display: none;
  // margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.app-image-container {
  width: 40rem;
  height: 80vh;
  background-image: url(/static/app.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1602px); /* The image width */
  }
}

@media only screen and (max-width: 600px) {
  .title-wrapper {
    width: 100%;
    padding: 0 4rem;
    margin-bottom: 3.2rem;
  }
  .container {
    width: 100vw;
    height: auto;
  }
  .content {
    flex-direction: column;
  }

  .logo-container {
    display: none;
  }

  .logo-mob {
    display: unset;
  }

  h1 {
    font-size: 16vh;
  }

  .app-image-container {
    margin-bottom: 2.4rem;
  }
}
