:root {
  --text: #000;
  --bg: #ffffff;
  --blue: #1c2ba4;
  --yellow: #f9e94e;
}

@font-face {
  font-family: "Tungsten";
  src: url("../fonts/Tungsten Condensed Bold.otf");
}

@font-face {
  font-family: "Tungsten-semi";
  src: url("../fonts/Tungsten Compressed Semi.otf");
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--bg);
  position: relative;
}

p,
a {
  font-size: 1.4rem;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text);
}

.header {
  width: 100vw;
  height: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  width: 100vw;
  height: 8rem;
  max-height: 8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  font-family: "Tungsten";
  font-size: 22rem;
  font-weight: normal;
  line-height: 75%;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  margin-top: 2.6rem;
}

.more {
  position: relative;
}

p.desc {
  font-size: 1.8rem;
  max-width: 40ch;
}

.container {
  padding: 0 4rem;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.logo-mob {
  display: none;
}

.logo-container {
  overflow: hidden;
  width: auto;
}

.logo {
  width: 380px;
  height: 4806px;
  background: url("../static/logos.svg") repeat-y;
  -webkit-animation: slide 12s linear infinite;
          animation: slide 12s linear infinite;
}

.col {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  font-family: "Tungsten-semi";
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 0.02em;
  color: var(--yellow);
  padding: 4px 20px;
  height: 7.2rem !important;
  max-height: 7.2rem !important;
  background-color: var(--blue);
  border: unset;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid var(--text);
}

.btn--header {
  font-size: 1.4rem;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: unset;
  padding: 0.9rem 1rem 1rem 1rem;
  height: 3.6rem;
  max-height: 3.6rem;
  color: var(--text);
  background: var(--bg);
  outline: 1px solid var(--text);
  border-radius: 5px;
}

.hero-img {
  margin-top: 4rem;
  width: 60%;
  height: auto;
}

form.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.qr {
  height: 7.2rem;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1602px);
            transform: translateY(-1602px);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1602px);
            transform: translateY(-1602px);
  }
}

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 20rem;
  }
  .hero-img {
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 17rem;
  }
  .hero-img {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 15rem;
  }
  .hero-img {
    width: 100%;
  }
  p.desc {
    padding-right: 2rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    height: auto;
    padding: 8rem 0;
    padding-top: 12rem;
  }
  .col {
    width: 100%;
  }
  .hero-img {
    width: 50%;
  }
  .qr {
    position: relative;
  }
  .footer {
    position: relative;
  }
  .header {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-top: 12rem;
  }
  h1 {
    font-size: 12rem;
  }
  p.contact {
    text-align: right;
  }
  .col {
    padding: 0 2rem;
  }
  .hero-img {
    width: 90%;
  }
  .btn {
    min-width: 100px;
    min-height: 30px;
    display: inline;
  }
}
/*# sourceMappingURL=main.css.map */